<demo-header [title]="'Container'" [site]="'elements/container.html'" [wiki]="'Container'"></demo-header>

<h2 class="ui header">Types</h2>

<h4 class="ui header">Container</h4>

<smt-container>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iure quaerat repellat? Accusantium ad alias animi asperiores beatae enim, id impedit itaque labore mollitia officia
    quasi quibusdam sapiente ut voluptas. Aperiam cum, praesentium quidem quisquam ut voluptatibus. Aliquam, aliquid asperiores cum debitis delectus distinctio dolorem doloremque doloribus
    ducimus eius esse et harum illum in laudantium necessitatibus nemo, neque, quasi reiciendis saepe sunt velit vero? Ad adipisci beatae consequatur ea eaque eius enim eum expedita impedit
    numquam omnis optio perferendis quam, qui repellendus rerum sit suscipit tempora tenetur, veritatis? Atque corporis doloremque, eligendi excepturi fuga similique sint tenetur.
</smt-container>

<codeblock prismjs="html">&lt;smt-container>...&lt;/smt-container>
</codeblock>

<h4 class="ui header">Text container</h4>

<smt-container [text]="true">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iure quaerat repellat? Accusantium ad alias animi asperiores beatae enim, id impedit itaque labore mollitia officia
    quasi quibusdam sapiente ut voluptas. Aperiam cum, praesentium quidem quisquam ut voluptatibus. Aliquam, aliquid asperiores cum debitis delectus distinctio dolorem doloremque doloribus
    ducimus eius esse et harum illum in laudantium necessitatibus nemo, neque, quasi reiciendis saepe sunt velit vero? Ad adipisci beatae consequatur ea eaque eius enim eum expedita impedit
    numquam omnis optio perferendis quam, qui repellendus rerum sit suscipit tempora tenetur, veritatis? Atque corporis doloremque, eligendi excepturi fuga similique sint tenetur.
</smt-container>

<codeblock prismjs="html">&lt;smt-container [text]="true">...&lt;/smt-container>
</codeblock>

<h2 class="ui header">Variations</h2>

<h4 class="ui header">Text alignment</h4>

<smt-container [aligned]="'left'">
    Left aligned
</smt-container>

<smt-container [aligned]="'center'">
    Center aligned
</smt-container>

<smt-container [aligned]="'right'">
    Right aligned
</smt-container>

<b>Justified</b>
<smt-container [aligned]="'justified'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iure quaerat repellat? Accusantium ad alias animi asperiores beatae enim, id impedit itaque labore mollitia officia
    quasi quibusdam sapiente ut voluptas. Aperiam cum, praesentium quidem quisquam ut voluptatibus. Aliquam, aliquid asperiores cum debitis delectus distinctio dolorem doloremque doloribus
    ducimus eius esse et harum illum in laudantium necessitatibus nemo, neque, quasi reiciendis saepe sunt velit vero? Ad adipisci beatae consequatur ea eaque eius enim eum expedita impedit
    numquam omnis optio perferendis quam, qui repellendus rerum sit suscipit tempora tenetur, veritatis? Atque corporis doloremque, eligendi excepturi fuga similique sint tenetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iure quaerat repellat? Accusantium ad alias animi asperiores beatae enim, id impedit itaque labore mollitia officia
    quasi quibusdam sapiente ut voluptas. Aperiam cum, praesentium quidem quisquam ut voluptatibus. Aliquam, aliquid asperiores cum debitis delectus distinctio dolorem doloremque doloribus
    ducimus eius esse et harum illum in laudantium necessitatibus nemo, neque, quasi reiciendis saepe sunt velit vero? Ad adipisci beatae consequatur ea eaque eius enim eum expedita impedit
    numquam omnis optio perferendis quam, qui repellendus rerum sit suscipit tempora tenetur, veritatis? Atque corporis doloremque, eligendi excepturi fuga similique sint tenetur.
</smt-container>

<codeblock prismjs="html">&lt;smt-container [aligned]="'left'">...&lt;/smt-container>
&lt;smt-container [aligned]="'center'">...&lt;/smt-container>
&lt;smt-container [aligned]="'right'">...&lt;/smt-container>
&lt;smt-container [aligned]="'justified'">...&lt;/smt-container>
</codeblock>

<h4 class="ui header">Fluid</h4>

<smt-container [fluid]="true">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iure quaerat repellat? Accusantium ad alias animi asperiores beatae enim, id impedit itaque labore mollitia officia
    quasi quibusdam sapiente ut voluptas. Aperiam cum, praesentium quidem quisquam ut voluptatibus. Aliquam, aliquid asperiores cum debitis delectus distinctio dolorem doloremque doloribus
    ducimus eius esse et harum illum in laudantium necessitatibus nemo, neque, quasi reiciendis saepe sunt velit vero? Ad adipisci beatae consequatur ea eaque eius enim eum expedita impedit
    numquam omnis optio perferendis quam, qui repellendus rerum sit suscipit tempora tenetur, veritatis? Atque corporis doloremque, eligendi excepturi fuga similique sint tenetur.
</smt-container>

<codeblock prismjs="html">&lt;smt-container [fluid]="true">...&lt;/smt-container>
</codeblock>