**/*.log
**/*.scss
**/*.ts
!**/*.map
!**/*.d.ts
!**/*.js
.bowerrc
.git
.gitignore
.idea
.vscode
/app
/bin
/node_modules
/public
/typings
/vendors
/conf
/controllers
/models
/routes
/build/css/demo*
/build/js/demo*
bower.json
gulpfile.js
bs-config.json
server.js
tsconfig.json
typings.json