<demo-header [title]="'Segment'" [site]="'elements/segment.html'" [wiki]="'Segment'"></demo-header>

<h2 class="ui header">Types</h2>

<h4 class="ui header">Segment</h4>

<smt-segment>
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
</smt-segment>

<h4 class="ui header">Raised</h4>

<smt-segment [raised]="true">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi commodi, cum eveniet exercitationem fugiat fugit in iure, laborum magnam possimus quos reprehenderit repudiandae sapiente vero. A eius excepturi quas.</div>
    <div>Facilis, praesentium sint? A aliquam atque beatae, dolorum, enim fuga impedit ipsam, labore laborum maiores molestias necessitatibus perspiciatis quae totam velit! Aperiam atque cumque dolorem libero maiores perspiciatis, quo voluptatem.</div>
</smt-segment>

<h4 class="ui header">Stacked</h4>

<smt-segment [stacked]="true">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fugit iure reiciendis temporibus totam vero vitae voluptatibus! Consequuntur eius facilis id ipsum molestias odio perferendis quam quo suscipit ullam! Impedit!</div>
    <div>Eaque, laudantium provident? Aut cumque dolorem doloremque eligendi ex fugit hic in iure laborum magni maxime mollitia nemo nostrum numquam omnis possimus quibusdam quis recusandae rem repellendus, sed sint soluta.</div>
</smt-segment>

<smt-segment [stacked]="'tall'">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fugit iure reiciendis temporibus totam vero vitae voluptatibus! Consequuntur eius facilis id ipsum molestias odio perferendis quam quo suscipit ullam! Impedit!</div>
    <div>Eaque, laudantium provident? Aut cumque dolorem doloremque eligendi ex fugit hic in iure laborum magni maxime mollitia nemo nostrum numquam omnis possimus quibusdam quis recusandae rem repellendus, sed sint soluta.</div>
</smt-segment>

<h4 class="ui header">Piled</h4>

<smt-segment [piled]="true">
    <h4 class="ui header">A header</h4>
    <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
    <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
    <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
</smt-segment>

<h4 class="ui header">Vertical</h4>

<smt-segment [vertical]="true">
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
</smt-segment>
<smt-segment [vertical]="true">
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
</smt-segment>
<smt-segment [vertical]="true">
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
</smt-segment>

<h2 class="ui header">Groups</h2>

<h4 class="ui header">Segments</h4>

<smt-segment-group>
    <smt-segment>
        <p>Top</p>
    </smt-segment>
    <smt-segment>
        <p>Middle</p>
    </smt-segment>
    <smt-segment>
        <p>Middle</p>
    </smt-segment>
    <smt-segment>
        <p>Middle</p>
    </smt-segment>
    <smt-segment>
        <p>Bottom</p>
    </smt-segment>
</smt-segment-group>

<smt-segment-group>
    <smt-segment>
        <p>Top</p>
    </smt-segment>
    <smt-segment [color]="'red'">
        <p>Middle</p>
    </smt-segment>
    <smt-segment [color]="'blue'">
        <p>Middle</p>
    </smt-segment>
    <smt-segment [color]="'green'">
        <p>Middle</p>
    </smt-segment>
    <smt-segment [color]="'yellow'">
        <p>Bottom</p>
    </smt-segment>
</smt-segment-group>

<smt-segment-group>
    <smt-segment>
        <p>Top</p>
    </smt-segment>
    <smt-segment [emphasis]="'secondary'">
        <p>Secondary content</p>
    </smt-segment>
</smt-segment-group>

<h4 class="ui header">Nested segments</h4>

<smt-segment-group>
    <smt-segment>
        <p>Top</p>
    </smt-segment>
    <smt-segment-group>
        <smt-segment>
            <p>Nested Top</p>
        </smt-segment>
        <smt-segment>
            <p>Nested Middle</p>
        </smt-segment>
        <smt-segment>
            <p>Nested Bottom</p>
        </smt-segment>
    </smt-segment-group>
    <smt-segment>
        <p>Middle</p>
    </smt-segment>
    <smt-segment-group [horizontal]="true">
        <smt-segment>
            <p>Left</p>
        </smt-segment>
        <smt-segment>
            <p>Center</p>
        </smt-segment>
        <smt-segment>
            <p>Right</p>
        </smt-segment>
    </smt-segment-group>
    <smt-segment>
        <p>Bottom</p>
    </smt-segment>
</smt-segment-group>

<h4 class="ui header">Horizontal segments</h4>

<smt-segment-group [horizontal]="true">
    <smt-segment>
        <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
    </smt-segment>
    <smt-segment>
        <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
    </smt-segment>
    <smt-segment>
        <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
    </smt-segment>
</smt-segment-group>

<h4 class="ui header">Raised segments</h4>

<smt-segment-group [raised]="true">
    <smt-segment>
        Top
    </smt-segment>
    <smt-segment>
        Middle
    </smt-segment>
    <smt-segment>
        Bottom
    </smt-segment>
</smt-segment-group>

<h4 class="ui header">Stacked segments</h4>

<smt-segment-group [stacked]="true">
    <smt-segment>
        Top
    </smt-segment>
    <smt-segment>
        Middle
    </smt-segment>
    <smt-segment>
        Bottom
    </smt-segment>
</smt-segment-group>

<h4 class="ui header">Piled segments</h4>

<smt-segment-group [piled]="true">
    <smt-segment>
        Top
    </smt-segment>
    <smt-segment>
        Middle
    </smt-segment>
    <smt-segment>
        Bottom
    </smt-segment>
</smt-segment-group>

<h4 class="ui header">Disabled</h4>

<smt-segment [disabled]="true">
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
</smt-segment>

<h4 class="ui header">Loading</h4>

<smt-segment [loading]="true">
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/paragraph.png">
    <smt-divider [hide]="true"></smt-divider>
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/paragraph.png">
</smt-segment>

<h2 class="ui header">Variations</h2>

<h4 class="ui header">Inverted</h4>

<smt-segment [inverted]="true">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto assumenda autem labore magnam, minima nostrum officiis. Consequuntur corporis doloribus eaque, esse est iusto quae quidem sapiente veritatis. Debitis, fugiat.
</smt-segment>

<h4 class="ui header">Attached</h4>

<smt-segment [attached]="'top'">
    This segment is on top
</smt-segment>
<smt-segment [attached]="true">
    This segment is attached on both sides
</smt-segment>
<smt-segment [attached]="'bottom'">
    This segment is on bottom
</smt-segment>

<h5 class="ui header top attached">
    Dogs
</h5>
<smt-segment [attached]="true">
    Dogs are one type of animal
</smt-segment>
<h5 class="ui header attached">
    Cats
</h5>
<smt-segment [attached]="true">
    Cats are thought of as being related to dogs, but only humans think this.
</smt-segment>
<h5 class="ui header attached">
    Lions
</h5>
<smt-segment [attached]="true">
    Humans don't think of lions as being like cats, but they are.
</smt-segment>
<div class="ui message bottom attached warning">
    <i class="warning icon"></i>
    You've reached the end of this content segment!
</div>

<h4 class="ui header">Padded</h4>

<smt-segment [padded]="true">
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
</smt-segment>

<smt-segment [padded]="'very'">
    <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
</smt-segment>

<h4 class="ui header">Compact</h4>

<smt-segment [compact]="true">
    Lorem ipsum dolor.
</smt-segment>

<smt-segment-group [compact]="true">
    <smt-segment>
        Lorem ipsum dolor.
    </smt-segment>
    <smt-segment>
        Lorem ipsum dolor.
    </smt-segment>
</smt-segment-group>

<h4 class="ui header">Colored</h4>

<smt-segment *ngFor="let color of lists.color" [color]="color">{{color}}</smt-segment>

<h4 class="ui header">Colored and inverted</h4>

<smt-segment *ngFor="let color of lists.color" [color]="color" [inverted]="true">{{color}}</smt-segment>

<h4 class="ui header">Emphasis</h4>

<smt-segment>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>
<smt-segment [emphasis]="'secondary'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>
<smt-segment [emphasis]="'tertiary'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>

<h4 class="ui header">Emphasis and inverted</h4>

<smt-segment [inverted]="true">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>
<smt-segment [inverted]="true" [emphasis]="'secondary'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>
<smt-segment [inverted]="true" [emphasis]="'tertiary'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>

<h4 class="ui header">Emphasis, inverted and colored</h4>

<smt-segment [inverted]="true" [color]="'red'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>
<smt-segment [inverted]="true" [color]="'red'" [emphasis]="'secondary'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>
<smt-segment [inverted]="true" [color]="'red'" [emphasis]="'tertiary'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cumque, eius eveniet expedita incidunt laudantium magni possimus provident quaerat quas reiciendis saepe sapiente sit sunt suscipit ut veniam.
</smt-segment>

<h4 class="ui header">Circular</h4>

<smt-segment [circular]="true">
    <h2 class="ui header">
        <span>Buy now</span>
        <div class="sub header">$10.99</div>
    </h2>
</smt-segment>
<smt-segment [circular]="true" [inverted]="true">
    <h2 class="ui header inverted">
        <span>Buy now</span>
        <div class="sub header">$10.99</div>
    </h2>
</smt-segment>

<h4 class="ui header">Clearing</h4>

<smt-segment [clearing]="true">
    <button smt-button [floated]="'right'">Floated</button>
</smt-segment>

<h4 class="ui header">Floated</h4>

<smt-segment [clearing]="true">
    <smt-segment [floated]="'right'">
        This segment will appear to the right
    </smt-segment>
    <smt-segment [floated]="'left'">
        This segment will appear to the left
    </smt-segment>
</smt-segment>

<h4 class="ui header">Text alignment</h4>

<smt-segment [align]="'right'">
    Right
</smt-segment>
<smt-segment [align]="'left'">
    Left
</smt-segment>
<smt-segment [align]="'center'">
    Center
</smt-segment>

<h4 class="ui header">Basic</h4>

<smt-segment [basic]="true">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut, autem dolor dolorem eos error laborum nemo nobis optio quae qui quis quos vero. Accusantium commodi excepturi impedit molestiae temporibus.</div>
    <div>Accusantium asperiores cumque laborum, praesentium quam voluptatum! Aliquam animi architecto beatae delectus eligendi et facilis ipsam itaque laudantium molestias neque nisi nulla obcaecati perferendis quam sequi tempore, ut vel voluptatum!</div>
</smt-segment>