<!DOCTYPE html>
<html lang="fr">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Semantic-NG2</title>
    <link rel="icon" type="image/png" href="/app/assets/img/logo.png"/>
    <link rel="stylesheet" href="/build/css/vendors.css">
    <link rel="stylesheet" href="/build/css/demo.css">
</head>
<body class="pushable">
<div class="pusher">
    <app>
        <div class="ui active inverted dimmer">
            <div class="ui text large loader">Loading</div>
        </div>
    </app>
</div>

<% if(environment == "development") { %>
<script src="/build/js/angular2.js"></script>
<script src="/build/js/demo.js"></script>
<script src="/config/system.config.dev.js"></script>
<script>
    System.import('/app/main.ts').then(null, console.error.bind(console));
</script>
<% } else { %>
<script src="/build/js/angular2-min.js"></script>
<script src="/build/js/demo-min.js"></script>
<script src="/build/js/bundle.min.js"></script>
<% } %>

</body>
</html>