<demo-header [title]="'Sidebar'" [site]="'modules/sidebar.html'" [wiki]="'Sidebar'"></demo-header>

<h4 class="ui header">Position</h4>

<smt-button-group>
    <button smt-button [active]="position == 'left'" (click)="selectPosition('left')">Left</button>
    <button smt-button [active]="position == 'right'" (click)="selectPosition('right')">Right</button>
    <button smt-button [active]="position == 'top'" (click)="selectPosition('top')">Top</button>
    <button smt-button [active]="position == 'bottom'" (click)="selectPosition('bottom')">Bottom</button>
</smt-button-group>

<h4 class="ui header">Transition</h4>

<smt-button-group>
    <button smt-button [active]="transition == 'overlay'" (click)="selectTransition('overlay')">Overlay</button>
    <button smt-button [active]="transition == 'push'" (click)="selectTransition('push')">Push</button>
    <button smt-button [active]="transition == 'scale down'" (click)="selectTransition('scale down')">Scale down</button>
</smt-button-group>

<h4 class="ui header">Events</h4>

<smt-button-group>
    <button smt-button [active]="events" (click)="activeEvents(true)">Show events</button>
    <button smt-button [active]="!events" (click)="activeEvents(false)">Hide events</button>
</smt-button-group>

<div class="ui hidden divider"></div>

<button smt-button [color]="'primary'" (click)="sidebarDemo.toggle()">Show sidebar</button>

<smt-sidebar #sidebarDemo [position]="position" [transition]="transition" (changeEvent)="changeEvent()" (hiddenEvent)="hiddenEvent()" (hideEvent)="hideEvent()" (showEvent)="showEvent()" (visibleEvent)="visibleEvent()">
    <smt-menu [inverted]="true" [icon]="true" [vertical]="isVertical()" [labeled]="true"></smt-menu>
    <a smt-menu-item>
        <i smt-icon="users"></i>
        <span>Users</span>
    </a>
    <a smt-menu-item>
        <i smt-icon="gamepad"></i>
        <span>Games</span>
    </a>
    <a smt-menu-item>
        <i smt-icon="camera"></i>
        <span>Channels</span>
    </a>
    <a smt-menu-item>
        <i smt-icon="play"></i>
        <span>Videos</span>
    </a>
</smt-sidebar>

<h4 class="ui header">Using a custom context</h4>

<div class="ui info message">
    <p>[visible]="true" option make this sidebar visible on page load.</p>
</div>

<div class="ui top attached segment">
    <button smt-button [color]="'primary'" (click)="sidebarCustomContext.toggle()">Toggle custom context sidebar</button>
</div>
<div class="ui bottom attached segment pushable">
    <smt-sidebar #sidebarCustomContext [visible]="true" [context]="'.bottom.segment'">
        <smt-menu [inverted]="true" [vertical]="true" [labeled]="true"></smt-menu>
        <a smt-menu-item>
            <i class="home icon"></i>
            <span>Home</span>
        </a>
        <a smt-menu-item>
            <i class="block layout icon"></i>
            <span>Topics</span>
        </a>
        <a smt-menu-item>
            <i class="smile icon"></i>
            <span>Friends</span>
        </a>
        <a smt-menu-item>
            <i class="calendar icon"></i>
            <span>History</span>
        </a>
    </smt-sidebar>
    <div class="pusher">
        <div class="ui basic segment">
            <h3 class="ui header">Application Content</h3>
            <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
            <div class="ui hidden divider"></div>
            <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
            <div class="ui hidden divider"></div>
            <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
            <div class="ui hidden divider"></div>
            <img smt-image [wireframe]="true" src="/app/assets/img/semantic/wireframe/short-paragraph.png">
        </div>
    </div>
</div>